.form {
	&__row {
		/*width: 100%;*/
		margin-bottom: 25px;
		.col-l,
		.col-r {
			display: inline-block;
			vertical-align: top;
		}
		.col-l {
			width: 180px;
			padding-top: 8px;
		}
		.col-r {
			width: 440px;
			position: relative;
		}
	}
	.big-field {
		border-bottom: 2px solid #ccc;
		label {
			display: inline-block;
			font-family: 'exo2bold';
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: #555;
			margin-bottom: 7px;
		}
		input {
			width: 100%;
			font-family: 'exo2extra_light';
			font-size: 35px;
			width: 100%;
			height: 60px;
			line-height: 35px;
			border: 0;
			outline: none;
			color: #3e3e3e;
			border-radius: 0;
			background-color: transparent;
			padding-left: 0;
			margin: 0;
			&[type="password"] {
				font-family: Arial;
				font-size: 68px;
				margin: 0;
				padding: 0;
				text-transform: uppercase;
				height: 50px;
				vertical-align: top;
				margin-bottom: 10px;
				line-height: normal;
			}
		}
	}
	.has-error {
		position: relative;
		input,
		textarea {
			border-color: #EE4A58;
		}
		.help-block {
			color: #EE4A58;
			position: absolute;
			margin: 10px 0 0 20px;
		}
	}
	&__remember {
		float: left;
	}
}
/*** [#FORM AUTORIZATION] ***/
.form-auth {
	width: 600px;
	margin: 0 auto;
	padding-top: 52px;
	.form__row {
		margin-bottom: 7px;
		margin-bottom: 42px;
	}
	&__action {
		text-align: right;
	}
	.form__remember {
		margin-top: 14px;
		font-family: 'exo2regular';
	}
	.btn {
		float: right;
	}
}
.big-field {
	&.focus {
		border-color: #4775b3;
	}
	&.has-error {
		border-color: #EE4A58;
		.help-block {
			margin: 10px 0 0 0;
		}
		input {
			&::-webkit-input-placeholder { color:#EE4A58;}
			&::-moz-placeholder { color:#EE4A58; }
			&:-ms-input-placeholder { color:#EE4A58; }
			&:-moz-placeholder { color:#EE4A58; }
		}
	}
}
.user-pass {
	font-size: 70px;
	letter-spacing: 22px;
}

/*** [#PAGE DATAFORM] ***/
.data-form {
	h2 {
		font-family: 'exo2extra_light';
		line-height: 34px;
	}
	.fieldset {}
	.education,
	.soc-status,
	.marital-status {
		.select {
			width: 100%;
		}
	}
	.numchild,
	.dependents {
		.select {
			width: 75px;
		}
	}
	input[name="name.old"] {
		width: 240px;
		margin-left: 47px;
	}
	input[name="subdivision"],
	input[name="house"],
	input[name="apartment"],
	input[name="housing"] {
		width: 125px;
	}
	input[name="snils"] {
		width: 255px;
	}
	input[name="phone.region"],
	input[name="phone.number"] {
		margin: 0 5px;
	}
	input[name="phone.region"] {
		width: 75px;
		
	}
	input[name="phone.number"] {
		width: 155px;
	}
	.has-success {
		.bulit-success {
			display: block;
			width: 17px;
			height: 17px;
			background-color: #f9ab5a;
			border-radius: 17px;
			position: absolute;
			right: -35px;
			top: 9px;
		}
	}
	.select__drop {
		text-align: center;
		li {
			padding: 5px 10px;
		}
	}
}


/*** [#PAGE PRODUCTS] ***/
.products {
	&__list {
		float: left;
		li {
			margin-bottom: 28px;
		}
	}
	&__notice {
		background-color: #fff;
		float: right;
		border-radius: 4px;
		box-shadow: 0 1px 2px rgba(0,0,0,0.31);
	}
}
.notice-box {
	border-bottom: 2px solid #e6e6e6;
	position: relative;
	width: 378px;
	box-sizing: border-box;
	.counter-notice {
		position: absolute;
		right: 18px;
		top: 18px;
	}
	a {
		color: #3e3e3e;
		display: block;
		padding: 15px 70px 15px 23px;
		&:hover {
			background-color: #e5e5e5;
		}
	}
	p {
		margin: 0;
		&:nth-child(3) {
			padding-top: 7px;
		}
	}
	&:last-child {
		border: 0;
	}
}
/*** [#PAGE LIST CLIENT] ***/
.clients-list {
	h2 {
		margin-bottom: 18px;
	}
}

/*** [#PAGE LIST BROKER] ***/
.broker-list {
	.table {
		margin-top: 25px;
	}
}

/*** [#PAGE VIEW APPLICATION] ***/
.select	{
	&--status {
		margin-right: 10px;
	}
}
.request {
	&__title {
		h2, span { 
			display: inline-block;
		}
		h2 {
			margin: 0 15px 10px 0;
		}
	}
	&__action {
		margin-bottom: 23px;
		.form {
			float: left;
		}
		.download-pdf {
			float: right;
			.btn {
				margin-left: 16px;
			}
		}
		.btn {
			vertical-align: middle;
		}
	}
	&__text {
		p {
			margin: 0;
			padding-bottom: 15px;
		}
	}
}
.reply {
	padding-top: 20px;
	&__filter {
		margin-bottom: 22px;
		a {
			display: inline-block;
			margin-left: 20px;
		}
	}
	.table {
		.ico-reject {
			margin-left: 30px;
		}
	}
}

/*** [#PAGE SEND OFFER] ***/
.send-offer {
	width: 600px;
	margin: 0 auto;
	padding-top: 83px;
	h2 {
		
	}
	.form {
		padding-top: 42px;
	}
	.button {
		padding-top: 20px;
		overflow: hidden;
		.error-text {
			float: left;
		}
		.btn {
			float: right;
		}
	}
}

/*** [#PAGES BANK CREDIT] ***/
.bank-credit {
		padding-top: 10px;
		max-width: 810px;
	h3 {
		font-family: 'exo2regular';
		font-size: 20px;
	}
	&--index {
		/*max-width: 745px;*/
		
		.buttons {
			padding-top: 60px;
		}
		.btn {
			margin-right: 25px;
		}
	}
	&--send {
		overflow: hidden;
	}
	&--ok {
		.btn {
			text-transform: uppercase;
			width: 135px;
			margin-top: 18px;
		}
	}
}
.bank-select {
	float: left;
	width: 50%;
	.btn {
		margin: 22px 0 0 40px;
	}
	.select-all {
		display: inline-block;
		cursor: pointer;
		color: #4775b3;
		margin: 13px 0 27px;
		input {
			position: absolute;
			clip: rect(0,0,0,0);
		}
		&:hover {
			color: #2f2f2f;
		}
	}
}
.bank {
	margin-bottom: 20px;
	&__desc {
		overflow: hidden;
		img {
			float: left;
			width: 60px;
			height: 60px;
			border-radius: 4px;
			margin-right: 15px;
		}
		span {
			display: block;
			padding-left: 75px;
		}
	}
	.checkbox {
		float: left;
		margin: 20px 18px 0 0;
	}
	&__name {
		margin-bottom: 20px;
	}
}
.send-any {
	float: right;
	max-width: 440px;
	width: 100%;
	.download-pdf {
		padding: 6px 0 32px;
		span {
			margin-top: 10px;
			display: inline-block;
		}
		.btn {
			float: right;
		}
	}
	input[type="text"] {
		width: 100%;
	}
	textarea {
		width: 100%;
		height: 235px;
	}
}

/*** [#PAGE MESSAGE] ***/
.message {
	padding-top: 50px;
	font-family: 'exo2regular';
	font-size: 32px;
	text-align: center;
	letter-spacing: 0.8px;
	small {
		font-family: 'PTSansRegular';
		font-size: 15px;
		letter-spacing: normal;
	}
	p {
		margin-bottom: 36px;
	}
}

/*** [#PAGE ADD OFFER] ***/
.add-offer {
	textarea {
		max-width: 840px;
		width: 100%;
		height: 200px;
		margin-bottom: 18px;
	}
}

/*** [#PAGE ADMINISTRATOR] ***/
.list-partner {
	padding-top: 25px;
}

/*** [#PAGE ADD PARTNER] and [PAGE ADD BROKER] and [PAGE ADD COWORKER]***/
.link-list-partner {
	font-family: 'exo2medium';
	font-size: 20px;
	margin-left: 190px;
}
.add-partner,
.add-broker,
.add-coworker,
.edit-coworker {
	.form__row {
		width: 100%;
		display: table;
		label,
		input {
			display: table-cell;
		}
		input {
			max-width: 440px;
			width: 100%;
		}
	}
	.radio-group {
		padding: 10px 0 0 180px;
		label {
			display: block;
			width: 100%;
			margin-bottom: 23px;
		}
	}
}
.add-partner,
.add-broker,
.edit-coworker {
	.form__row {
		label {
			width: 180px;
		}
	}
	.form__action {
		padding-left: 180px;
	}
}
.add-partner {
	padding-top: 14px;
}
.add-coworker {
	.form__row {
		label {
			width: 70px;
		}
	}
	.form__action {
		padding-left: 70px;
	}
}

/*** [#PAGE NOTICE] ***/
.notice {
	&__filter {
		padding: 10px 0 25px;
		.filter {
			display: table;
			width: 100%;
			> li {
				display: table-cell;
				&:first-child {
					width: 100px;
				}
			}
		}
		.date {
			margin-left: 18px;
			input {
				margin-left: 10px;
			}
		}
		.filter {
			&__status {
				label {
					margin-right: 10px;
				}
			}
			&__manager {
				a {
					margin: 0 10px;
				}
			}
		}
	}
}

@media only screen and (max-width : 768px) {
	.header__title {
		clear: both;
		margin-left: 0;
		float: none;
	}
	.send-any {
		width: 359px;
		.download-pdf {
			text-align: right;
			span {
				margin-bottom: 15px;
			}
			.btn {
				float: none;
			}
		}
	}
	.request__action  {
		.form,
		.download-pdf {
			float: none;
		}
		.download-pdf {
			text-align: right;
			margin-top: 30px;
		}
	}
	.form {
		.has-error {
			.help-block {
				color: #EE4A58;
				position: absolute;
				margin: 0;
				display: block;
				bottom: 7px;
			}
		}
	}
}


@media only screen and (max-width : 1024px) {
	.container {
		padding: 0 25px;
	}
	.clients-list,
	.broker-list {
		thead {
			td:last-child {
				width: 180px;
			}
		}
	}
	.list-partner {
		thead {
			td:last-child {
				width: 220px;
			}
		}
	}
	.reply {
		.table {
			.ico-view,
			.ico-reject {
				display: inline-block;
				/*margin: 0 0 10px 0;*/
			}
		}
		thead {
			td:last-child {
				width: 320px;
			}
		}
	}
	.notice {
		&__filter {
			.filter {
				li {
					display: inline-block;
				}
				li:first-child {
					width: 60px;
				}
			}
			.date {
				margin-left: 10px;
			}
			.filter__status {
				padding-left: 20px;
				.select {
					width: 170px;
				}
				.select--status {
					margin-right: 0;
				}
			}
			.filter__manager {
				a {
					display: inline-block;
					margin-top: 20px;
				}
			}
		}
	}
}
